.Registerbody{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    color: var(--color-dark);
    background: var(--color-light);
}

.logo{
    width: 220px;
    margin-bottom: 35px;
    margin-top: -15px;
}

.registerwrapper {
    height: 510px;
    width: 410px;
    background-color: #E30613;
    color: #fff;
    border-radius: 45px;
    padding: 20px 40px;
    border: #333;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}

.registerwrapper h1{
    font-size: 30px;
    text-align: center;
    margin-top: 8px;
    font-weight: 50;
}

.registerwrapper label{
    margin: 30px;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #fff;
    margin-bottom: 15px;
    border: 2px solid #881814;
    border-radius: 20px;
}

.icon {
    height: 2rem;
    width: 1.5rem;
    color: #333;
    padding: 4px;
    position: absolute;
    box-sizing:border-box;
    top:50%;
    left:2px;
    transform: translateY(-50%);
  }

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    margin-left: 35px;
}

.remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -35px 0 15px;
}

.remember-forgot a{
    margin-top: 32px;
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.registerwrapper button {
    width: 100%;
    height: 45px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
    margin-top: 5px
}

.register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
}